.navbar-brand img {
	max-width: 50px;
}
.avatar img {
	max-width: 50px;
}
.avatar {
	-ms-flex: 0 0 230px;
	flex: 0 0 50px;
}

.collapse-btn {
	cursor: pointer;
}
.collapsable {
	transition: 500ms;
	height: var(--height, auto);
	max-height: min(auto, var(--height, auto));
}
.hiding {
	overflow: hidden;
}
.hide {
	overflow: hidden;
	height: 0;
}
